@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@100;200;300;400");

.fredoka-one-font {
    font-family: "Fredoka One", sans-serif;
}

.btn {
    color: white;
    font-weight: 900;
    width: 10em;
    font-family: "Roboto", sans-serif
}

img { width: 350px; height: 300px }

.copy_right_footer {
    position: fixed;
    color: rgb(0, 106, 177);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #7bd5ff;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 80, 133);
}

html {
    background: #0062ff;
}

.main-div {
    background: repeating-linear-gradient(to bottom, #a6c8ff, #67a1ff, #428aff, #0062ff);
}